<launch>
  <node pkg="roseus" type="roseus" name="robot_actions" args="$(find jsk_interactive_marker)/euslisp/robot-actions.l">
    <param name="robot" value="PR2"/>
    <param name="one_click_grasp" value="false"/>
    <param name="one_click_grasp_arm" value="larm"/> 
    <param name="frame_id" value="base"/>
    <param name="use_moveit" value="true"/>
  </node>   
</launch>